# Run these cells, every time you open this file.

In [2]:
zipOutputFolder = "/Volumes/Backup/"

In [3]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [4]:
raw_path = zipOutputFolder+'DOT_Traffic_Speeds_NBE.csv'

raw = pd.read_csv(raw_path, date_parser="DATA_AS_OF")

df1 = raw.iloc[:, [0,1,4,5]]
df2 = raw.iloc[:, [5,6,7,8,11,12]]

# Extrapolate information from the DATA_AS_OF Column

In [5]:
# Insert code to extract Hour, Minute, Weekday, DayOfMonth, Month, DayOfYear, Year information and store it in separate columns
df1["DateTime"] = pd.to_datetime(df1.DATA_AS_OF)

/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/2758586950.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["DateTime"] = pd.to_datetime(df1.DATA_AS_OF)

In [6]:
df1["hour"] = df1.DateTime.dt.hour
df1["minute"] = df1.DateTime.dt.minute
df1["weekday"] = df1.DateTime.dt.day_name()
df1["year"] = df1.DateTime.dt.year
df1["month"] = df1.DateTime.dt.month
df1["day"] = df1.DateTime.dt.day
df1["day_of_year"] = df1.DateTime.dt.day_of_year

/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/2047536330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["hour"] = df1.DateTime.dt.hour
/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/2047536330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["minute"] = df1.DateTime.dt.minute
/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/2047536330.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["weekday"] = df1.DateTime.dt.day_name()
/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/2047536330.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["year"] = df1.DateTime.dt.year
/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/2047536330.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["month"] = df1.DateTime.dt.month
/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/2047536330.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["day"] = df1.DateTime.dt.day
/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/2047536330.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["day_of_year"] = df1.DateTime.dt.day_of_year

In [8]:
temp = df1.iloc[:,[1,3,4,5,6,7,8,9,10,11]]

temp.rename(columns = {
    'SPEED':'speed',
    'LINK_ID':'link_id'    
    }, inplace = True)

temp = temp[temp['speed'] <= 68]
temp = temp[temp['speed'] > 0]

/var/folders/6g/wst_75wx36bf65vy03zgqw_r0000gn/T/ipykernel_90821/1637475090.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.rename(columns = {

In [9]:
#Experiment with data
#Group by link ID and count the number of values per link ID
links = temp.groupby('link_id', as_index=False).count()


#Insert the Link IDs with less than 45,000 records into an array
#Array to hold IDs that we need to remove

removeIDs = []

#For every row in dfSamp1_2
#Then see if the row has a count less than x (in this case, 30)
#If that is the case, append it to the array
for row in links.iterrows():
    if row[1][1] < 45000:
        removeIDs.append(row[1][0])

#Remove data points by link name (Link ID) with few counts (< 45,000)
# NOTE: We experiment here with 30 
#Remove link IDs in new dataframe via a isin condition
#with removeIDs
#Make sure to use ~ at the beginning of the square brackets 
temp = temp[~temp['link_id'].isin(removeIDs)]
#df = df[~df['date'].isin(a)]
display(temp)

,speed,link_id,DateTime,hour,minute,weekday,year,month,day,day_of_year
0,42.87,4456481,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
1,49.08,4456496,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
2,43.49,4456497,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
3,46.60,4456498,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
4,44.11,4456500,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
...,...,...,...,...,...,...,...,...,...,...
58892314,42.25,4620332,2018-11-17 08:42:51,8,42,Saturday,2018,11,17,321
58892315,37.28,4620343,2018-11-17 08:42:51,8,42,Saturday,2018,11,17,321
58892318,36.03,4456450,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
58892319,35.41,4456452,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
58892320,22.36,4456476,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321

In [10]:
temp.to_csv("df1.csv")

In [11]:
temp

,speed,link_id,DateTime,hour,minute,weekday,year,month,day,day_of_year
0,42.87,4456481,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
1,49.08,4456496,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
2,43.49,4456497,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
3,46.60,4456498,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
4,44.11,4456500,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
...,...,...,...,...,...,...,...,...,...,...
58892314,42.25,4620332,2018-11-17 08:42:51,8,42,Saturday,2018,11,17,321
58892315,37.28,4620343,2018-11-17 08:42:51,8,42,Saturday,2018,11,17,321
58892318,36.03,4456450,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
58892319,35.41,4456452,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321
58892320,22.36,4456476,2018-11-17 08:43:40,8,43,Saturday,2018,11,17,321

# Sample Generator

### df1 Sample Generator

In [12]:
# Random Sample Generator
samples = 100000 # insert no of samples required for df1 and run this cell.

temp[['speed', 'link_id', 'DateTime', 'hour', 'minute', 'weekday', 'year', 'month', 'day', 'day_of_year']].sample(n=samples).to_csv("df1_sample.csv")

### df2 Sample Generator

In [13]:
# Random Sample Generator
samples = 5000 # insert no of samples required for df1 and run this cell.

df2.sample(n=samples).to_csv("df2_sample.csv", header=True, index_label=False)